<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Tu Música</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1><a href="/">Tu Música</a></h1>
        <nav>
            <ul>
              <li><a href="accounts/register">Registro</a></li>
              <li><a href="accounts/login">Login</a></li>
              <li><a href="accounts/logout">Logout</a></li>
              <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
        <nav>
          <h3>Menú</h3
            <ul>
              <li><a href="/artist">Artists</a></li>
              <li><a href="/album">Albums</a></li>
              <li><a href="/song">Songs</a></li>
              <li><a href="/playlist">Playlist</a></li>
            </ul>
        </nav>
      </header>
    <section>
    </section>
    <footer>
        <p>Creado por: Alberto Sanmartin, Jordi Boronat y Juan Bone</p>
    </footer>
</body>
