<!DOCTYPE html>
<link	rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"	/>
<script	src="http://code.jquery.com/jquery-2.2.3.js"></script>
<script	src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Tu Música</title>
    <link rel="stylesheet" href="templates/static/style.css">
</head>
<div id="body">
    <div id="header">
        <h1><a href="/">Tu Música</a></h1>
        <nav>
					 <ul>
              {% if user.is_authenticated %}
							  <ul>
                	<li><a href="/logout">Logout</a></li>
									<li><a href="/contact">Contacto</a></li>

              {% else %}

                <li><a href="/login/">Login</a><li>
								<li><a href="/contact">Contacto</a></li

              {% endif %}

						</ul>

        </nav>
		</header>
		<section>
        <nav>
          <h3>Menú</h3
            <ul>
							{% if user.is_authenticated %}
                            <li><a href="/artists/">See Artists</a></li>
                           <li><a href="/albums/">See Albums</a></li>
                           <li><a href="/songs/">See Songs</a></li>
                           <li><a href="/playlists/">See Playlist</a></li>
              <li><a href="/artist/create">Create Artists</a></li>
              <li><a href="/album/create">Create Albums</a></li>
              <li><a href="/song/create">Create Songs</a></li>
              <li><a href="/playlist/create">Create Playlist</a></li>
							{% else %}
			   <li><a href="/artists/">See Artists</a></li>
              <li><a href="/albums/">See Albums</a></li>
              <li><a href="/songs/">See Songs</a></li>
              <li><a href="/playlists/">See Playlist</a></li>
							{% endif %}
            </ul>
        </nav>

					{% if user.is_authenticated %}
					<h3>API</h3
					<ul>
						<li><a href="/api/artist/">API Artists</a></li>
						<li><a href="/api/album">API Albums</a></li>
						<li><a href="/api/song">API Songs</a></li>
					<li><a href="/api/playlist">API Playlist</a></li>
					{% endif %}
				</ul>
    </section>
    <div id="footer">
        <p>Creado por: Alberto Sanmartin, Jordi Boronat y Juan Bone</p>
    </footer>
</body>
