<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Tu Música</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <!-- <img src="http... -->
        <h1>Tu Música</h1>
        <nav>
            <ul>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h3>Accede</h3
        <article>
            <form metho="POST" action="">
                {% csrf_token%}
                {{ register_form.as_p }}
            </form>
        </articles>
    </section>
    <footer>
        <p>Creado por:</p>
        <p>Alberto Sanmartin</p>
        <p>Jordi Boronat</p>
        <p>Juan Bone</p>
    </footer>
</body>
